.background-image-cards {
  background-image: url("src/img/background-image.webp");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.cards {
  width: 60%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.turns {
  text-align: center;
  color: #24201F;
  font-size: 20px;
}

.turns span {
  font-weight: bolder;
}

.new-game-button {
  font-family: 'Tiro Devanagari Marathi', serif;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;

  color: #007CC1;
  box-shadow: 1px 1px #BBE7FC;
  background-color: #FFFFFD;

  border: none;
  border-radius: 5px;

  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding-right: 3px;
}

.title-img {
  width: 250px;
  display: block;
  margin: auto;
}

/* CORES
  #BBE7FC
  #FFFFFD
  #FF3F44
  #007CC1 
  #FFBB2A
  #24201F
*/



